body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.container {
  text-align: center;
  margin-top: 50px;
}

input[type="checkbox"] {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  background-color: #ccc;
  border-radius: 17px;
  cursor: pointer;
}

.toggle-label::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

input[type="checkbox"]:checked + .toggle-label {
  background-color: #007bff;
}

input[type="checkbox"]:checked + .toggle-label::before {
  transform: translateX(36px);
}




/*darkmode e whitemode */

.dark-mode {
  background-color: #333;
  color: #fff;
}

.white-mode {
  background-color: white;
}


/* header*/
header{
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#textoConhece {
  font-weight: bold;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input::placeholder{
  color: hsl(0, 0%, 52%);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 1px;
}

i{
  color: hsl(0, 0%, 52%);
}
input, i{
  border: none;
  outline: none;
}

.inputBuscador{
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
}


.labelinput{
  border: 1px solid;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 25%;
}

@media(max-width: 768px){
  #textoConhece{
    margin-left: auto;
    margin-right: auto;
  };
  .primeiraFileira{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
};

img{
  object-fit: cover;
};
.cards{
  display: flex;
}

.primeiraFileira{
  display: flex;
  list-style: none;
  margin-top: 30px
};

.paises{
  display: flex;
  margin-right: 20px;
}

.primeiraFileira .paises1 {
  margin-right: 35px; 
}

.cards{
  display: flex;
}

.primeiraFileira{
  display: flex;
  list-style: none;
  margin-top: 30px
};

.paises1{
  display: flex;
  margin-right: 20px;
}

.primeiraFileira .paises1 {
  margin-right: 35px; 
}


#nomeGermany, #nomeEua, #nomeBrasil, #nomeIce, #nomeafe, #nomeirais, #nomeAlbania, #nomeAlgeria {
  display: flex;
  font-weight: bold;
  font-size: 15px;
};



.cards2{
  display: flex;
}

.segundaFileira{
  display: flex;
  list-style: none;
  margin-top: 30px
};

.paises2{
  display: flex;
  margin-right: 20px;
}

.segundaFileira .paises2 {
  margin-right: 35px; 
}
